<!DOCTYPE html>
<html lang="en">
<%- include('head'); %> <!--Incluirndo o HEAD-->


  <body class="container">
    <%- include('header'); %> <!--Incluirndo o HEAD-->
    <main>
      <div class="jumbotron">
        <h3>NODE E EJS</h3>
        <p>Aprenderemos a usar Node + EJS</p>
      </div>
    </main>
    <%- include('footer'); %> <!--Incluirndo o HEAD-->

  </body>
</html>
