<!DOCTYPE html>
<html lang="en">
<%-include('../parts/head'); %>
<body class="container">
    <%-include('../parts/header' , {paginas: "Sobre mim"} ); %>
    <main>
        <div class="jumbotron">
            <h1>Sobre Mim</h1>
            <p>Sou reinaldo ;3</p>
        </div>
    </main>


    <%-include('../parts/footer'); %>
</body>

</html>