<!DOCTYPE html>
<html lang="en">
<%- include('../parts/head'); %> <!--Incluirndo o HEAD-->


  <body class="container">
    <%- include('../parts/header', {paginas: "Home"}); %> <!--Incluirndo o HEAD-->
    <main>
      <div class="jumbotron">
        <h3>NODE E EJS</h3>
        <p>Aprenderemos a usar Node + EJS</p>
      </div>
      <ul>
        <li>
          <strong>
            D
          </strong> Escrito com D
        </li>
        <li>
        <strong>
          A
        </strong> Escrito com A
      </li>
      <li>
      <strong>
        F
      </strong> Escrito com F
    </li>
    <li>
    <strong>
      E
    </strong> Escrito com E
  </li>
      </ul>
    </main>
    <%- include('../parts/footer'); %> <!--Incluirndo o HEAD-->

  </body>
</html>
